@using System
@using System.Linq
@model TheaterBooking.Web.Database.Movie

<div id="wrapper" class="preview">
    
    <div id="posterImageBanner">
        <img src="@Model.Movie_Poster_URL">
    </div>
    
    <div id="mainContent" class="preview">

        <img id="posterImage" src="@Model.Movie_Poster_URL">

        <div id="movieInfo">
            <div id="movieInfoInner">


                <div id="movieInfoTitle">@Model.Movie_Name</div>
                <div id="movieInfoUnderTitle">@Model.Rating.Rating_Symbol |
                    @(Model.Duration_Hour)h @(Model.Duration_Minute)min |
                    @string.Join(", ", Model.Genres.Select(genre => genre.Genre_Name))</div>
                <div id="movieInfoPlot">@Model.Movie_Desc</div>
                <a href="@Model.Movie_Trailer_URL" id="movieInfoTrailerButton">WATCH TRAILER</a>


                <br>
                <div class="popupDropdown popupDropdownDays">
                    <div class="popupDropdownRoot">
                        <div class="popupDropdownText">select day</div>
                        <img class="popupDropdownArrow" src="~/Areas/Movies/Content/down.svg">
                    </div>
                    <div class="popupDropdownElements">
                        <div class="popupDropdownElementsInner">
                            @foreach (var date in Model.Showtimes.Select(day => day.Show_Date.Date).Distinct())
                            {
                                <div class="popupDropdownElement popupDropdownElementDay">@date.ToLongDateString()</div>
                            }
                        </div>
                    </div>
                </div>


                <br>
                <div class="popupDropdown popupDropdownTimes">
                    <div class="popupDropdownRoot">
                        <div class="popupDropdownText">select time</div>
                        <img class="popupDropdownArrow" src="assets/down.svg">
                    </div>
                    <div class="popupDropdownElements">
                        <div class="popupDropdownElementsInner">
                            @*TODO: REST API + dynamic jQuery stuff*@
                            @foreach (var date in Model.Showtimes.Where(day => day.Show_Date.Date == DateTime.Now.Date))
                            {
                                <div class="popupDropdownElement popupDropdownElementTime">@date.Show_Date.ToShortTimeString()</div>
                            }
                        </div>
                    </div>
                </div>
                <br>
                <div id="movieInfoBookButton">BOOK NOW</div>
            </div>
        </div>
    </div>
</div>
