@using System
@using System.Linq
@using TheaterBooking.Web.Database
@model TheaterBooking.Web.Database.Movie

<div id="youtubeVideoWrapper">
    <img id="youtubeVideoX" src="~/Areas/Movies/Content/x.svg">
    <iframe id="youtubeVideo" src="@Model.Movie_Trailer_URL" frameborder="0" allowfullscreen></iframe>
</div>

<div id="wrapper" class="preview">
    
    <div id="posterImageBanner">
        <img src="@Model.Movie_Poster_URL">
    </div>
    
    <div id="mainContent" class="preview">

        <img id="posterImage" src="@Model.Movie_Poster_URL">

        <div id="movieInfo">
            <div id="movieInfoInner">


                <div id="movieInfoTitle">@Model.Movie_Name</div>
                <div id="movieInfoUnderTitle">@Model.Rating.Rating_Symbol |
                    @(Model.Duration_Hour)h @(Model.Duration_Minute)min |
                    @string.Join(", ", Model.Genres.Select(genre => genre.Genre_Name))</div>
                <div id="movieInfoPlot">@Model.Movie_Desc</div>
                <div id="movieInfoTrailerButton">WATCH TRAILER</div>

            @using (Html.BeginForm("Index", "Purchase", new {area = "Tickets"}, FormMethod.Get,
                new {@class = "form-horizontal", id = "previewForm"}))
            {
                <div class="popupDropdown popupDropdownDays">
                    <div class="popupDropdownRoot">
                        <div class="popupDropdownText">select showtime</div>
                        <img class="popupDropdownArrow" src="~/Areas/Movies/Content/down.svg">
                    </div>
                    <div class="popupDropdownElements">
                        <div class="popupDropdownElementsInner">
                            @foreach (var s in Model.Showtimes)
                            {
                                <div class="popupDropdownElement" data-value="@s.Showtime_ID">@((s.Show_Date + s.Show_Time).ToString("f"))</div>
                            }
                        </div>
                    </div>
                </div>
                <br>
                @Html.Hidden("showtimeId")
                <button type="submit" id="movieInfoBookButton" disabled>BOOK NOW</button>
            }
            </div>
        </div>
    </div>
</div>
