@using System
@using System.Linq
@using TheaterBooking.Web.Database
@model TheaterBooking.Web.Database.Movie

<div id="wrapper" class="preview">
    
    <div id="posterImageBanner">
        <img src="@Model.Movie_Poster_URL">
    </div>
    
    <div id="mainContent" class="preview">

        <img id="posterImage" src="@Model.Movie_Poster_URL">

        <div id="movieInfo">
            <div id="movieInfoInner">


                <div id="movieInfoTitle">@Model.Movie_Name</div>
                <div id="movieInfoUnderTitle">@Model.Rating.Rating_Symbol |
                    @(Model.Duration_Hour)h @(Model.Duration_Minute)min |
                    @string.Join(", ", Model.Genres.Select(genre => genre.Genre_Name))</div>
                <div id="movieInfoPlot">@Model.Movie_Desc</div>
                <a href="@Model.Movie_Trailer_URL" id="movieInfoTrailerButton">WATCH TRAILER</a>


                <br>
                <div class="popupDropdown popupDropdownDays">
                    <div class="popupDropdownRoot">
                        <div class="popupDropdownText">select day</div>
                        <img class="popupDropdownArrow" src="~/Areas/Movies/Content/down.svg">
                    </div>
                    <div class="popupDropdownElements">
                        <div class="popupDropdownElementsInner">
                            @foreach (var date in Model.Showtimes.Select(day => day.Show_Date.Date).Distinct())
                            {
                                <div class="popupDropdownElement popupDropdownElementDay">@date.ToLongDateString()</div>
                            }
                        </div>
                    </div>
                </div>


                <br>
                
            @using (Html.BeginForm("Purchase", "Ticket", new {area = "Tickets"}, FormMethod.Get, new {@class = "form-horizontal"}))
            {
                @Html.DropDownList("showtimeId", Model.Showtimes.Select(s => new SelectListItem
                {
                    Text = (s.Show_Date + s.Show_Time).ToString("f"),
                    Value = s.Showtime_ID.ToString()
                }))
                <br>
                <button type="submit" id="movieInfoBookButton">BOOK NOW</button>
            }
            </div>
        </div>
    </div>
</div>
