@using System
@using System.Linq.Expressions
@using TheaterBooking.Web.Areas.Account.Models
@model RegistrationViewModel
@{
    PageData["Title"] = "Register";
}

@using (Html.BeginForm("Index", "Registration", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "help-block" })

    foreach(var field in new Expression<Func<RegistrationViewModel, string>>[] {m => m.Email, m => m.Password, m => m.ConfirmPassword,
        m => m.FirstName, m => m.LastName})
    {
         <div class="w3-section">
             @Html.LabelFor(field, new { @class = "w3-block" })
             @(field.ToString().Contains("Password") ?
                    Html.PasswordFor(field, new {@class = "w3-block w3-border-gray"}) :
                    Html.TextBoxFor(field, new {@class = "w3-block w3-border-gray"}))
             @Html.ValidationMessageFor(field, "", new { @class = "w3-text-red w3-block" })
         </div>
    }

    <div class="w3-row w3-section">
        @Html.ActionLink("Go back", "Index", "Login")
        <button type="submit" class="w3-button w3-right w3-white">Register</button>
    </div>
}
