@using System.Web.Optimization
@using MvcSiteMapProvider.Web.Html
<!DOCTYPE html>
<html class="w3">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(PageData["Title"] ?? Html.MvcSiteMap().SiteMap.CurrentNode?.Title) - @Html.MvcSiteMap().SiteMap.RootNode.Title</title>
    @Styles.Render("~/Content/css")
    @if (BundleTable.Bundles.GetBundleFor($"~/Content/less-{ViewContext.RouteData.DataTokens["area"]}") != null)
    {
        @Styles.Render($"~/Content/less-{ViewContext.RouteData.DataTokens["area"]}")
    }
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
</head>
<body>
<div class="ibo-center">
    <div class="ibo-panel">
        <div class="ibo-header w3-padding-small">@PageData["Title"]</div>
        <div class="w3-margin">@RenderBody()</div>
    </div>
</div>
</body>
</html>
