@model TheaterBooking.Web.Database.Screen

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Screen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Theater.Theater_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Theater.Theater_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Screen_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
