@using TheaterBooking.Web.Database
@model TheaterBooking.Web.Areas.Tickets.Models.PurchaseViewModel
@{
    var showtime = (Showtime)ViewBag.Showtime;
    var theater = showtime.Screen.Theater;
    ViewBag.Title = "Checkout complete";
}

<div id="wrapper" class="purchase">

    <div id="mainContent" class="purchase">

        <div class="purchaseHeader">Thank you for booking</div>
        <div class="movieTitle">@showtime.Movie.Movie_Name</div>
        <div class="purchaseHeaderBold">Showtime: @((showtime.Show_Date + showtime.Show_Time).ToString("f"))</div>
        <div class="purchaseHeader">Screen: @showtime.Screen.Screen_ID</div>

        <br>
        Theater:
        @theater.Theater_Name <br>
        @theater.Theater_Address <br>
        @theater.Theater_Phone <br>
        <br>

        @foreach (var quantity in Model.Quantities)
        {
            @:@quantity.Value @Model.Prices[quantity.Key].Price_Desc ticket(s) <br>
        }

    </div>

</div>