@using System.Linq
@model System.Collections.Generic.IList<TheaterBooking.Web.Database.Booking>

<div id="wrapper" class="orders">

    <div id="mainContent" class="orders">

        @foreach (var booking in Model)
        {

            var showtime = booking.Tickets.First().Showtime;
            var movie = showtime.Movie;
            var theater = showtime.Screen.Theater;

            <div class="orderEntry">

                <div class="orderEntryInner">

                    <div class="titleAndDate">
                        <a class="orderEntryTitle" href="@Url.Action("Index", "Preview", new {area = "Movies", movieId = movie.Movie_ID})">@movie.Movie_Name</a>
                        <div class="orderEmphasis">@((showtime.Show_Date + showtime.Show_Time).ToString("f"))</div>
                    </div>

                    <div class="orderDetails">
                        <div class="orderEmphasis">Order details</div>
                        Order placed: @booking.Booking_Date.ToString("D")<br />
                        Screen #@showtime.Screen.Screen_ID<br />
                        @theater.Theater_Name<br />
                        @theater.Theater_Phone
                    </div>

                    <div class="paymentDetails">
                        <div class="orderEmphasis">Payment details</div>
                        @foreach (var ticket in booking.Tickets.GroupBy(ticket => ticket.Price_ID))
                        {
                            var price = ticket.First().Price;
                            var count = ticket.Count();
                            <div>@count @price.Price_Desc tickets (@((price.Price_Amount * count).ToString("C")))</div>
                        }
                        Total: @booking.Total_Cost.ToString("C")
                    </div>

                </div>

            </div>

        }

    </div>

</div>
