@model TheaterBooking.Models.Showtime

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Showtime</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Show_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Show_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Show_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Show_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Movie.Movie_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie.Movie_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Screen.Screen_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Screen.Screen_ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Showtime_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
