@using System.Web
@using Microsoft.Owin.Security
@model TheaterBooking.Web.Areas.Account.Models.LoginViewModel
@{
    PageData["Title"] = "Login";
}


<div id="wrapper" class="login">
        
    <div id="loginBox">
            
        <div id="loginBoxHeader">login to book movie tickets</div>
            
        <div id="loginBoxContent">
            @using (Html.BeginForm("Index", "Login", FormMethod.Post, new {@class = "form-horizontal"}))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new {@class = "help-block"})

                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new {@class = "control-label"})
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
                        <span class="input-group-addon">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(m => m.Email, "", new {@class = "help-block"})
                </div>

                <div class="form-group">
                    <div class="input-group">
                        @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
                        <span class="input-group-addon">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(m => m.Password, "", new {@class = "help-block"})
                </div>

                <div class="form-group text-right">
                    <button type="submit" class="btn btn-login btn-block btn-lg visible-xs">Sign In</button>
                </div>

                <div class="form-group text-center">
                    Don't have an account yet? @Html.ActionLink("Register as a new user", "Index", "Registration")
                </div>
            }
            
            <hr/>

            @using (Html.BeginForm("ExternalLogin", "Login", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "Please correct the following error(s)", new {@class = "w3-pale-yellow w3-border w3-border-yellow w3-padding w3-section"})
                @Html.HiddenFor(m => m.Salt)
                @Html.HiddenFor(m => m.RedirectUri)

                foreach (var provider in Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes())
                {
                    string buttonClass;
                    string iconClass;
                    switch (provider.Caption)
                    {
                        case "Google":
                            buttonClass = "btn-google";
                            iconClass = "google";
                            break;
                        default:
                            buttonClass = "w3-grey";
                            iconClass = provider.Caption.ToLower();
                            break;
                    }

                    <button type="submit" id="loginButton" class="@buttonClass" name="provider"
                            value="@provider.AuthenticationType" title="Sign in using your @provider.Caption account">
                        <i class="fa fa-@iconClass fa-fw"></i> Sign in with @provider.Caption
                    </button>
                }
            }
        </div>
            
    </div>
        
</div>

