@model IEnumerable<TheaterBooking.Web.Areas.Admin.Models.Ticket>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Booking.Booking_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price.Price_Desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Showtime.Showtime_ID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Booking.Booking_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price.Price_Desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Showtime.Showtime_ID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Ticket_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Ticket_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Ticket_ID })
        </td>
    </tr>
}

</table>
