@model TheaterBooking.Web.Areas.Admin.Models.Theater

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Theater</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Theater_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Theater_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Theater_Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Theater_Owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Theater_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Theater_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Theater_Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Theater_Phone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Theater_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
