@model IEnumerable<TheaterBooking.Web.Database.Theater>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Theater_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Theater_Owner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Theater_Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Theater_Phone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Theater_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Theater_Owner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Theater_Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Theater_Phone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Theater_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Theater_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Theater_ID })
        </td>
    </tr>
}

</table>
